.HomePage {
  width: 100%;
  height: 100%;
  display: flex;
}

.Pipe-Panel {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  /* padding: 1rem; */
}

.Menu-Panel {
  top: 0;
  right: 0;
  width: 35%;
}

@media only screen and (max-width: 768px) {
  .Pipe-Panel {
    width: 100%;
  }
}
