.HomePage {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
}

.Pipe-Panel {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 2rem;
}

.Menu-Panel {
  width: 30%;
  position: fixed;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .Pipe-Panel {
    width: 100%;
  }
}
