.MobileDashHeader {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 2000;
  background: #000;
}

.MobileDashHeader h3 {
  color: white;
  font-weight: bold;
  /* background: #ff9900;
  align-content: center;
  line-height: 0.9;
  padding: 0.6rem;
  border-radius: 0.2rem; */
}
