.TextOptionButton {
  flex: auto;
  min-width: 5rem;
  height: 100%;
}

.TextOptionButton-Container {
  background: transparent;
  border: 1px solid #999;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  padding: 1rem 2rem;
  font-size: 0.9rem;
}
