.PostInputCard {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  gap: 1rem;
}

.PostInputCard-Menu {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #111;
}

.PostInputCard-Menu button {
  background: #222;
  border: none;
  padding: 0.5rem;
  line-height: 0;
  font-size: 1.3rem;
  border-radius: 10rem;
}

.PostInputCard-Menu button:hover {
  background: #333;
}

.FilePreview {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  background: #171717;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #333; */
  /* box-shadow: 0px 0px 10px #000000 inset, -0px -0px 5px #ffffff inset; */
}

.FilePreview > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.FileRemove-Button {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0005;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}

.FileRemove-Button button {
  background: transparent;
  border: none;
  line-height: 0;
  font-size: 2rem;
}

.FilePreview:hover .FileRemove-Button {
  display: flex;
}

.PostInputCard-Main {
  width: 100%;
  /* background: red; */
}

.PostInputText {
  width: 100%;
  height: 10rem;
  background: #171717;
  border-radius: 0.5rem;
  /* border-bottom: 1px solid #999; */
}

.PostInputText > textarea {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  resize: none;
  border: none;
  white-space: pre-wrap;
  background: transparent;
  padding: 1rem;
}

.PostInputText > textarea::-webkit-scrollbar {
  width: 1px;
}

.PostInputText > textarea::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}

.error {
  border: 2px solid red;
  border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
  .PostInputCard {
    flex-direction: column;
  }

  .PostInputCard-Menu {
    height: 100%;
    width: 100%;
  }
}
