.PostCard {
  width: min(25rem, 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
}

.PostCard > img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.PostCard .PostCard-Background {
  position: absolute;
  height: 100%;
  width: 100%;
}

.PostCard-Container {
  border-radius: 0.2rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(45, 45, 45, 0.3);
  gap: 1rem;
  backdrop-filter: blur(5rem);
}

.PostCard-Header {
  width: 100%;
}

.PostCard-Header-Main {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.PostCard-Header-Avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 0.2rem;
  overflow: hidden;
}

.PostCard-Header-Avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.PostCard-Header-Username {
  font-size: 0.9rem;
  cursor: pointer;
}

.PostCard-Header-Username p {
  font-size: 0.6rem;
  opacity: 0.8;
}

.PostCard-Header-MenuIcon {
}

.PostCard-Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.PostCard-Content-Main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
}

.PostCard-Content-Main-Image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PostCard-Content-Main-Image img {
  border-radius: 0.5rem;
  width: 100%;
  max-height: 15rem;
  object-fit: contain;
}

.PostCard-Content-Main-Text p {
  /* font-family: "Montserrat", sans-serif;  */
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.PostCard-Content-Options {
  width: 100%;
  overflow: hidden;
}

.PostCard-Content-Options-Image {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 0.5rem;
  scroll-behavior: smooth;
}

.PostCard-Content-Options-Image::-webkit-scrollbar {
  height: 0px;
}

.PostCard-Content-Options-Image::-webkit-scrollbar-thumb {
  background: #999;
}

.PostCard-Content-Options-Text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.PostCard-Content-Options-Text.disable,
.PostCard-Content-Options-Image.disable,
.PostCard-Content-Options-Text.disable *,
.PostCard-Content-Options-Image.disable * {
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
}

.PostCard-Responses {
  width: 100%;
  font-size: 0.7rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.5rem;
}

.PostCard-Responses p,
button {
  font-size: 0.7rem;
  font-weight: 500;
}

.PostCard-Responses button {
  background: transparent;
  border: none;
}

.PostCard-Responses button:hover {
  text-decoration: underline;
}

.PostCard-Footer {
  width: 100%;
}

.PostCard-Footer-Container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  gap: 1rem;
  background: #0004;
  padding: 0.7rem;
}

.PostCard-Footer-Comment-Input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 0.5rem;
}

.PostCard-Footer-Comment-Input textarea {
  background: transparent;
  align-content: center;
  width: 100%;
  border: none;
  resize: none;
}

.PostCard-Footer-Comment-Input textarea::placeholder {
  color: #fff9;
}

.PostCard-Footer-Comment-Input textarea::-webkit-scrollbar {
  width: 0px;
}

.PostCard-Footer-Comment-Input textarea::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5rem;
}

.PostCard-Footer-Comment-Input-Send {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0;
  color: white;
  padding: 0.5rem;
  border-radius: 10rem;
  transition: all 0.2s ease-out;
}

.PostCard-Footer-Comment-Input-Send:hover {
  background: #8885;
  cursor: pointer;
}

.PostCard-Footer-Container hr {
  width: 2rem;
  transform: rotate(90deg);
  margin: -1rem;
}

.PostCard-Footer-Share,
.PostCard-Footer-Comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  cursor: pointer;
}

.PostCard-Footer-Share-Button,
.PostCard-Footer-Comments-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: none;
  border: none;
  font-size: 1.2rem;
}

.PostCard-Footer-Share-Count,
.PostCard-Footer-Comments-Count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
}

@media screen and (max-width: 768px) {
  .PostCard {
    border-radius: 0.3rem;
  }
}
