.PostInputCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #222;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
}

.PostInputCard-Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.PostInputCard-Header button {
  background: #222;
  border: 1px solid #999;
  padding: 0.5rem;
  line-height: 0;
  font-size: 1.3rem;
  border-radius: 10rem;
}

.PostInputCard-Header button:hover {
  background: #333;
}

.FilePreview {
  width: 20rem;
  min-height: 9rem;
  max-height: 15rem;
  overflow: hidden;
  position: relative;
  background: #171717;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FilePreview > img {
  width: 100%;
  min-height: 9rem;
  max-height: 12rem;
  object-fit: contain;
}

.FileRemove-Button {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0005;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}

.FileRemove-Button button {
  background: transparent;
  border: none;
  line-height: 0;
  font-size: 2rem;
}

.FilePreview:hover .FileRemove-Button {
  display: flex;
}

.PostInputCard-Main {
  width: 100%;
}

.PostInputText {
  width: 20rem;
  height: 9rem;
  background: #171717;
  border-radius: 0.5rem;
}

.PostInputText > textarea {
  width: 100%;
  height: 9rem;
  font-size: 1.3rem;
  resize: none;
  border: none;
  white-space: pre-wrap;
  background: transparent;
  padding: 0.5rem;
}

.PostInputText > textarea::-webkit-scrollbar {
  width: 1px;
}

.PostInputText > textarea::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}
