.ProfilePosts {
  width: 100%;
  height: 100%;
  /* overflow-y: auto; */
}

.ProfilePosts-Container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 425px) {
  .ProfilePosts {
    width: unset;
  }
}
