.ProfileCard-Container {
  padding-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: start;
  justify-content: start;
  gap: 2rem;
}

.ProfileCard-Details {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 2rem;
}

.ProfileCard-Details-Name {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.ProfileCard-Details-Name p {
  color: #fffa;
  font-size: 0.8rem;
}

.ProfileCard-Details-Info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.ProfileCard-Details-Info-Block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProfileCard-Details-Info-Block p:nth-child(1) {
  font-size: 1.2rem;
}

.ProfileCard-Details-Info-Block p:nth-child(2) {
  font-size: 0.6rem;
}

.ProfileCard-Options {
  display: flex;

  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.ProfileCard-Options button {
  background: none;
  border: 1px solid #aaa;
  border: none;
  line-height: 0;
  padding: 0.3rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}
