.ProfileCard {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background: #111;
  border-bottom: 1px solid #555;
}

.ProfileCard-Container {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.ProfileCard-Left {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: start;
  justify-content: start;
  gap: 2rem;
}

.ProfileCard-Details {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.ProfileCard-Right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.ProfileCard-Options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.ProfileCard-Options button {
  background: none;
  border: 1px solid #aaa;
  border: none;
  line-height: 0;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.ProfileCard-Options .edit-btn {
  font-size: 0.8rem;
  border: 2px solid #555;
  padding: 1rem;
  border-radius: 0.2rem;
}

.ProfileCard-Options .settings-btn {
  font-size: 1.5rem;
}
