.ScreenLoader-Container {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
}

.ScreenLoader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
