.Search {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  background: #0009;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 3rem;
}

.Search-Container {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  border-radius: 0.5rem;
}

.Search-Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.Search-InputBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.Search-InputBox input {
  width: 70%;
  background: transparent;
  border: 1px solid #999;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Search-Results {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* gap: 1rem; */
}
