.UsersProfile {
}

.UsersProfile-Container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.UsersProfile-Header-Container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}

.UsersProfile-Avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 1rem;
  overflow: hidden;
}

.UsersProfile-Avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.UsersProfile-Info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.UsersProfile-About {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.UsersProfile-About-Name {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.3rem;
}

.UsersProfile-About-Name h2 {
  font-size: 1.5rem;
}

.UsersProfile-About-Name h4 {
  font-size: 0.8rem;
}

.UsersProfile-FollowBtn {
  /* background: #ffaa00; */
  /* border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  font-size: 0.8rem; */
}

.UsersProfile-Follow .UsersProfile-FollowBtn-Following {
  background: transparent;
  border: 1px solid #999;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.UsersProfile-Follow .UsersProfile-FollowBtn-Follow {
  background: #ffaa00;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.UserProfile-Desc {
}

.UserProfile-Desc-Main {
}
.UserProfile-Desc-Default {
  font-size: 0.9rem;
  opacity: 0.8;
}
