.UsersPosts {
  width: 100%;
  height: 100%;
}

.UsersPosts-Container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem 0rem;
  width: auto;
}

@media screen and (max-width: 425px) {
  .UsersPosts {
    width: unset;
  }
}

@media screen and (max-width: 768px) {
  .UsersPosts-Container {
    padding: 1rem 0rem 5rem;
  }
}
