.ViewPost {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  background: #0006;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(0.2rem);
}

.ViewPost-Container {
  width: 100%;
  min-height: 60%;
  max-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ViewPost-Content {
  position: relative;
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  background: rgba(32, 32, 32, 0.759);
  border-radius: 0.5rem;
  backdrop-filter: blur(5rem);
}

.ViewPost-Content > img {
  border-radius: 0.5rem;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -5;
  object-fit: cover;
}

.ViewPost-Content-Foreground {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background: rgba(45, 45, 45, 0.7);
  border-radius: 0.5rem;
  backdrop-filter: blur(5rem);
  /* z-index: 1000; */
}

.ViewPost-Left {
  width: 45%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
}

.ViewPost-Left-Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.ViewPost-Left-Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 0.5rem;
}

.ViewPost-Left-Header-Left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}

.ViewPost-Left-Header-Avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
  overflow: hidden;
}

.ViewPost-Left-Header-Avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ViewPost-Left-Header-Username p {
  font-size: 0.9rem;
  /* opacity: 0.7\\; */
}

.ViewPost-Left-Header-Right {
}

.ViewPost-Left-Header-Right button {
  border: none;
  background: transparent;
  font-size: 1.2rem;
  line-height: 0;
  padding: 0.2rem;
  border-radius: 5rem;
  transition: all 0.2s ease-in-out;
}

.ViewPost-Left-Header-Right button:hover {
  background: #333;
  /* padding: 1rem; */
}

.ViewPost-Left-Post {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.ViewPost-Left-Image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ViewPost-Left-Image img {
  width: 100%;
  max-height: 15rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

.ViewPost-Left-Text {
  font-size: 1.3rem;
  text-align: center;
}

.ViewPost-Left-Options {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.ViewPost-Right {
  width: 45%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  z-index: 5000;
}

.ViewPost-Right-Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.ViewPost-Right-Container hr {
  width: 100%;
  height: 0.5px;
  opacity: 0.5;
}

.ViewPost-Right-Comment-Input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 0.5rem;
  border: 1px solid #999;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.ViewPost-Right-Comment-Input img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

.ViewPost-Right-Comment-Input-User {
  width: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ViewPost-Right-Comment-Input-User img {
  width: 100%;
  object-fit: contain;
  border-radius: 0.2rem;
}

.ViewPost-Right-Comment-Input textarea {
  background: transparent;
  align-content: center;
  width: 100%;
  border: none;
  resize: none;
}

.ViewPost-Right-Comment-Input textarea::placeholder {
  color: #fff9;
}

.ViewPost-Right-Comment-Input textarea::-webkit-scrollbar {
  width: 0px;
}

.ViewPost-Right-Comment-Input textarea::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5rem;
}

.ViewPost-Right-Comment-Input-Send {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0;
  color: white;
  padding: 0.5rem;
  border-radius: 10rem;
  transition: all 0.2s ease-out;
}

.ViewPost-Right-Comment-Input-Send:hover {
  background: #8885;
  cursor: pointer;
}

.ViewPostOption {
  position: relative;
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  overflow: hidden;
  cursor: pointer;
}

.ViewPostOption-Container {
  width: 100%;
  background: #0004;
  /* border: 1px solid #999; */
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  overflow: hidden;
  z-index: 0;
}

.ViewPostOption-Container p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ViewPostOption-Container span {
  font-size: 0.7rem;
  display: flex;
  transition: all 5s ease-in-out;
}

.ViewPostOption-Background {
  position: absolute;
  left: 0;
  height: 100%;
  width: 0%;
  border: none;
  border-radius: 10rem;
  z-index: 0;
  background: #aaa5;
  transition: all 0.5s ease-in-out;
}

.ViewPost-Right-Comments {
  max-height: 25rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.ViewPost-Right-Comments::-webkit-scrollbar {
  width: 2px;
}

.ViewPost-Right-Comments::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5rem;
}

.ViewPost-Right-Comments-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.ViewPost-Comment {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.ViewPost-Comment img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

.ViewPost-Comment-Avatar img {
  width: 1.5rem;
  border-radius: 5rem;
}

.ViewPost-Comment-Text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  white-space: pre-wrap;
}

.ViewPost-Comment-Text p {
  width: 90%;
  word-wrap: break-word;
  font-size: 0.8rem;
}
