* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5rem;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #111;
  color: #fff;
  color-scheme: dark;
}

button:hover {
  cursor: pointer;
}
